<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{{title}}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" href="/dashboard">
              Dashboard
          </a>
          <a class="navbar-item" href="/transactions">
              Transactions
          </a>
          <a class="navbar-item" href="/reports">
              Reports
          </a>
          <a class="navbar-item" href="/signUp">
              Sign Up
          </a>
      </div>
  <div class="navbar-end"></div>
  {{{body}}}
</body>

</html>