<div class="content">
    <h3 class="title is-3">Categories</h3>
</div>

<div class="input-group mb-4">
<input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<table class="table table-striped" id="categories-table">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Transaction Name</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody id="categories-tbody">
        <tr>
            <td>Job</td>
            <td>Ralphs</td>
            <td>Expense</td>
        </tr>
        <tr>
            <td>Hobby</td>
            <td>None</td>
            <td>None</td>
        </tr>
    </tbody>
</table>

<button type="button">Add</button>
<button type="button">Edit</button>