<div class="content">
    To download a report, enter the month and year or select a date from the calendar:
</div>
<br>

<form action="" method="post">
    <label for="date-input"> </label>
    <input type="month" id="date-input" name="date" min=" " value="2019-11">
    <input type="submit" value="Submit">
</form>