<table>
    <tr>
    <th>#</th>
    <th>Amount</th>
    <th>Date Spent/Received</th>
    <th>Income/Expense</th>
    </tr>
    <tr>
    <td>1</td>
    <td>+100.00</td>
    <td>10/16/2019</td>
    <td>Income</td>
    </tr>
    <tr>
    <td>2</td>
    <td>-24.36</td>
    <td>10/20/2019</td>
    <td>Expense</td>
    </tr>
    <tr>
    <td>3</td>
    <td>+15.00</td>
    <td>10/21/2019</td>
    <td>Income</td>
    </tr>
</table>
<form action="" method="post">
    <br><br>
    Enter in data: <br><br>
    Amount:
        <input type="number" name="numerical_input" value=""><br><br>
    Date Spent/Received:
        <input type="date" name="date_input" value=""><br><br>
        <input type="radio" name="type" value="Income" checked> Income <br>
        <input type="radio" name="type" value="Expense"> Expense <br><br>
    <input type="submit" value="Submit"><br><br>
</form>