<div class="content">
    <h3 class="title is-3">Transactions</h3>
</div>

<div class="row mb-6">
    <div class="col-sm-3">
        <input class="form-control" type="date">
    </div>
    <div class="col-sm-3">
        <input class="form-control" type="date">
    </div>
</div>

<div class="input-group mb-4">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<table class="table table-striped" id="transactions-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Categories</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody id="transactions-tbody">
        {{!-- <tr>
            <th scope="row">1</th>
            <td>+100.00</td>
            <td>2019-10-16</td>
            <td>Income</td>
            <td>
                <button id="edit-button">📝</button>
                <button id="delete-button">❌</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>-24.36</td>
            <td>2019-10-20</td>
            <td>Expense</td>
            <td>
                <button id="edit-button">📝</button>
                <button id="delete-button">❌</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>+15.00</td>
            <td>2019-10-21</td>
            <td>Income</td>
            <td>
                <button id="edit-button">📝</button>
                <button id="delete-button">❌</button>
            </td>
        </tr> --}}
    </tbody>
</table>

<form>
    <div class="input-group mb-3">

    </div>
</form>



<button type="button" class="btn" id="add-trans-btn">Add Transaction</button>
<form action="" method="post" id="trans-form">
    <h2>New Transaction:</h2>
    <div class="form-group row">
        <label for="name-input" class="col-sm-2 col-form-label">New Transaction:</label>
        <div class="col-sm-4">
            <input id="name-input" type="text" name="input" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="amount-input" class="col-sm-2 col-form-label">Amount:</label>
        <div class="col-sm-4">
            <input id="amount-input" type="number" name="amount" value="" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="date-input" class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-4">
            <input id="date-input" type="date" name="date" value=""><br><br required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-6">
            <div class="custom-control custom-radio">
                <input class="form-check-input" id="income-radio" type="radio" name="type" value="income" checked>
                <label class="form-check-label" for="income-radio">
                    Income
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input class="form-check-input" id="expense-radio" type="radio" name="type" value="expense">
                <label class="form-check-label" for="expense-radio">
                    Expense
                </label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="categories-select" class="col-sm-2">Categories</label>
        <select class="custom-select" id="categories-select" multiple></select>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline-primary btn-sm">➕ Categories</button>
    </div>
    <input type="submit" value="Submit" id="trans-submit">
    <input type="button" value="Cancel">
    <br><br>
</form>

<script src="js/addtransactionform.js"></script>
<script src="js/transactiontable.js"></script>
<script src="js/transactions.js"></script>